body {
    font-family: "Times New Roman", sans-serif;
    background-color: #e0f2ff;
    text-align: center;
    padding: 30px;
}

h1 {
    color: #0d47a1;
    background-color: #bbdefb;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px 2px 5px gray;
}

.form-box {
    background: white;
    border-radius: 15px;
    width: 320px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

input {
    width: 90%;
    margin: 5px 0;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 15px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #388e3c;
}

.output-box {
    background-color: #fff8e1;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
